In [1]:
import numpy as np
import pandas as pd

In [2]:
from braket.aws import AwsDevice, AwsQuantumTask
from braket.circuits import Circuit

# Rigetti
device = AwsDevice("arn:aws:braket:us-west-1::device/qpu/rigetti/Aspen-M-3")

# Lucy
#device = AwsDevice("arn:aws:braket:eu-west-2::device/qpu/oqc/Lucy")

In [8]:
from core import TwoBitCircuit

a0b0_circuit = TwoBitCircuit('a0b0').circuit
a0b0_result = device.run(a0b0_circuit, shots=1000).result()

a0b1_circuit = TwoBitCircuit('a0b1').circuit
a0b1_result = device.run(a0b1_circuit, shots=1000).result()

a1b0_circuit = TwoBitCircuit('a1b0').circuit
a1b0_result = device.run(a1b0_circuit, shots=1000).result()

a1b1_circuit = TwoBitCircuit('a1b1').circuit
a1b1_result = device.run(a1b1_circuit, shots=1000).result()

In [12]:
measurements = a0b0_result.measurements
print(f'Result of length: {len(measurements)}')
print(measurements)

Result of length: 1000
[[0 0]
 [0 0]
 [0 0]
 ...
 [0 0]
 [0 0]
 [0 1]]

In [31]:
a0b0_measurements = [str(mes[0])+str(mes[1]) for mes in a0b0_result.measurements]
a0b1_measurements = [str(mes[0])+str(mes[1]) for mes in a0b1_result.measurements]
a1b0_measurements = [str(mes[0])+str(mes[1]) for mes in a1b0_result.measurements]
a1b1_measurements = [str(mes[0])+str(mes[1]) for mes in a1b1_result.measurements]

data = pd.DataFrame({'a0b0': a0b0_measurements,
             'a0b1': a0b1_measurements,
             'a1b0': a1b0_measurements,
             'a1b1': a1b1_measurements})

classical_bits = np.random.choice([0, 1, 2, 3], 1000)

data = data.assign(exp_res = [data.loc[i, data.columns[classical_bits[i]]] for i in range(len(data))],
                  classical = classical_bits)
data

    a0b0 a0b1 a1b0 a1b1 exp_res  classical
0     00   00   00   00      00          1
1     00   00   00   00      00          3
2     00   10   11   11      00          0
3     11   10   01   00      01          2
4     11   00   00   11      11          3
..   ...  ...  ...  ...     ...        ...
995   00   10   00   11      00          0
996   10   11   01   00      10          0
997   00   01   00   11      11          3
998   00   10   01   11      10          1
999   01   11   11   11      11          3

[1000 rows x 6 columns]